/* Polices page */
@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('./fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('./fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('./fonts/roboto/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* VARIABLES */

/* Couleurs de la Page */
$colorprimary: #9356dc;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;
$colorbackground1: #d3d1d1;
$colorbackground2: #f2f2f2;
$colorfont: #000;
$white: #fff;
$opacity: 0.7;

/* Polices */
$font: 'robotoregular', sans serif;
$font2: 'shrikhand', sans serif;

/* Héritage */
%shadow{
    box-shadow: 5px 5px 10px #d3d1d1;
}

.logo {
    display: block;
    margin: 10px auto;
    width: 20%;
    height: 20%;
}

#search {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    background-color: $colorbackground1;
       
    .searchfield {
    border-style: none;
    margin-left: 5px;
    background-color: $colorbackground1;
    font-weight: bold;
    font-family: $font;
    font-size: 16px;
    color: $colorfont;
    }
    .mapmarker {
        margin-left: 45%;
        margin-right: 0;
    }
}

.menu{
    background-color: $colorbackground2;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    text-align: center;

    h2{
        font-family: $font;
        font-size: 20px;
        background-color: $colorbackground2;
    }

    p{
        width: 90%;
        font-family: $font;
        font-size: 16px;
        background-color: $colorbackground2;
        margin: 0 0 45px 0;
    }

    .button{
        background-color:$colorsecondary;
        background-image: linear-gradient(to bottom right, $colorsecondary, $colorprimary);
        width: 20%;
        height: 100px;
        border-radius: 35px;
        padding: 17px 5px;
        margin-bottom: 63px;
        .explorebutton{
        font-family: $font;
        color: $white;
        text-decoration: none;
        
        }
    }
}
.operation{
    
    .operationtitle{
        font-family:$font;
        margin-left: 10%;
        font-size: 26px;
        position: relative;
    }
    .select{
        display: flex;
        justify-content: center;
    }
    .operationnumber{
        background-color: $colorprimary;
        color: $white;
        border-radius: 20px;
        padding: 5px 10px;
        position: absolute;
        margin-left: -2.5%;
        margin-top: 1.1%;       
    }
    .operationcard {
        width: 25%;
        background-color: $colorbackground2;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        border-radius: 20px;
        padding: 0.5% 2%;
        margin: 0 2% 2% 5%;
        align-items: center;
        &:hover{
            background-color: $colorbackground1;
            
            }
        @extend %shadow;
        .titlecard{
            padding-left: 1%;
            font-family: $font;
            color: black;
            width: 100%;
            }
        .restauranticon {
            margin: 0 20px;
            text-align: center;
            }
    }
}

.restaurant{
    background-color: $colorbackground2;
    font-family: $font;
    margin: 20px 0;
    .new{
        background-color: $colortertiary;
        color: #2c9c81;
        font-weight: bold;
        padding: 3px 10px;
        position: absolute;
        right: 10px;
        top:10px;
    }
    .titlesection{
        padding: 15px 0 15px 15px;
        width: 100%;
    }
    figure{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: block;
    }
    .restaurantcard{
        display:flex;
        flex-direction: row;
        width: 28%;
        height: 250px;
        margin: 15px 15px;
        padding: 5px;
        border-radius: 20px;
        background-color: $white;
        text-decoration: none;
        flex-direction: column;
        position:relative;
        @extend%shadow;
        .restaurants{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            height: 80%;
            margin: -10% -5%;
            object-fit: cover;
        }
        figcaption{
            display: flex;
            flex-direction: row;
            color: black;
            .legend{
                display:flex;
                flex-direction: column;
                margin: 7px 0 2px 5px;
                padding-top: 20px;
                font-size: 14px;
                }
            .location{
            opacity: $opacity;
            margin-top: 0.5%;
            }
            .heart{
            display: flex;
            margin-top: 15%;
            margin-left: 40%;
            opacity:$opacity;
            font-size: 25px;
            
            }
        }
    }
    
}

@media only screen and (max-width: 1024px){

    #search {
          
        .mapmarker{
            margin-left: 42%;
        }
    }

    .menu{
        text-align: center;
        
        .button {
            width:28%;
            
            }
    }
    .operation{
        .operationtitle{
            font-size:18px;
            margin-left: 5%;
        }
        .operationcard{
            width: 35%;
            padding: 0;
            margin: 12px 15px;
            font-size: 14px;
        }
        .operationnumber{
            margin-left: -1.5%;
            margin-top: 1.6%;
        }
    }
}
@media only screen and (max-width: 767px){
    .logo{
        width:50%;
        height: 50%;
    }
    #search {
          
        .mapmarker{
            margin-left: 33%;
        }
    }
    .menu{
        text-align: center;
        
        .button {
            width:60%;
            border-radius: 35px;
            .explorebutton{
                margin-left: 0;
            }
        }
    }
    .operation{
        .select{
            flex-direction: column;
        }
        .operationnumber{
            margin-top: 4.5%;
        }
        .operationcard{
           width: 90%;
           padding: 0;
           margin: 10px 20px;
           .titlecard{
            padding-left: 5%;
           }
       }

   } 
}